


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h2{
    padding-left: 12px;
}

p{
    padding-left: 12px;
}
.divv{
    display: flex;
    background-color: #f85606;
    gap: 60px;
    flex-wrap: wrap;

}
button{
    border-radius: 6px;
    background-color: brown;
    margin-left: 12px;
}
img{
    overflow: hidden;
    border-radius: 6px;
}
    